body {
    background-color: rgb(252, 252, 252);
    /* font-family: 'Cardo', serif; */
    font-family: 'Montserrat', sans-serif;

}

.h1,
h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 1rem;
    margin: 0;
    border: 0;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 60%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container--login {
    padding-top: 10vh;
}

.container--login h2,
.form--register h2 {
    margin-right: 20px;
    margin-bottom: 25px;
    color: rgb(20, 20, 20);
    position: relative;
    font-size: 1.8vw;
    font-weight: 600;
    text-align: left;
    width: 80%;

}

.form--register h2,
.user-creation-preview>div,
.user-creation-preview h3 {
    margin-left: 80px;
}

.form--login {
    position: relative;
    left: 100vw;
    transition: 0.3s;
    z-index: 1;
    min-width: 50vw;
    background-color: hsla(0, 0%, 100%, 0.4);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 20px 0 0;
    text-align: left;
    font-size: 18px;
    color: rgb(20, 20, 20);

}

.form--register {
    z-index: 1;
    min-width: 50vw;
    background-color: hsla(0, 0%, 100%, 0.4);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: left;
    padding-top: 10vh;
}

.form--register label {
    font-size: 18px;
    color: rgb(54, 54, 54);
}

.form--register h4 {
    margin-top: 34vh;
    color: rgb(54, 54, 54);
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 100;
}


.button--close {
    position: relative;
    bottom: -2rem;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex-start {
    display: flex;
    justify-content: start;
}

.flex-start-wrap {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0px 10px;
}


.title {
    text-align: center;
    position: relative;
    z-index: 4;
    background-color: rgba(252, 252, 252, 0.05);
    background-color: rgba(160, 135, 74, 0.05);
    width: 50vw;
    padding-top: 2vh;
}

.title h1 {
    font-size: 8.2vw;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(15, 15, 15);
}

.title section {
    justify-content: center;
}

.container-img {
    position: relative;
    top: 100vh;
    right: 0vw;
    background-image: url("../../images/liquor_collection.png");
    background-position: left;
    background-size: cover;
    width: 50vw;
    height: 100vh;
    transition: 0.3s;
    z-index: 3;
    border-right: rgb(210, 178, 98) 0px solid;
    border-left: rgb(210, 178, 98) 5px solid;
}

#whatcha {
    position: relative;
    display: inline-block;
    transition: 0.3s;
    right: 100vw;
}

#drinking {
    position: relative;
    display: inline-block;
    transition: 0.3s;
    left: 100vw;
}

.welcome-bttns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2vh;
}

#loginBttn {
    position: relative;
    display: inline-block;
    transition: 0.3s;
    font-size: 22px;
    top: 100vw;
    margin-top: 10px;
}

#registerBttn {
    position: relative;
    display: inline-block;
    transition: 0.3s;
    font-size: 22px;
    top: 100vw;
    margin-top: 10px;
}

#loginContainer {
    position: absolute;
    display: inline-block;
    transition: 0.3s;
    top: 200vh;
    left: 54vw;
    display: none;
}

#registerContainer {
    position: absolute;
    display: inline-block;
    transition: 0.3s;
    top: 400vh;
    left: 52vw;
    display: none;
    height: 100vh;
    overflow-y: scroll;
}

.welcome {
    overflow: hidden;
    height: 100vh;
    position: relative;
}

#linkRegister {
    visibility: hidden;
}

.welcomeBttn {
    color: rgb(252, 252, 252);
    font-family: 'Cardo', serif;
    font-size: 18px;
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    padding: 6px 20px;
    cursor: pointer;
    height: fit-content;
    border: outset 4px rgb(210, 178, 98);
    margin-right: 2vw;
}

.welcomeBttn:hover {
    background-color: rgb(20, 20, 20);
}

.welcomeGold {
    background-color: rgb(160, 135, 74);
    color: rgb(20, 20, 20);
    box-shadow: 0px 0px 0px 1px rgb(160, 135, 74);
}

.welcomeGold:hover,
#signInBttn:hover,
.registerBttn:hover {
    background-color: rgb(210, 178, 98);
}

.login-img {
    width: 400px;
    margin-left: 25vw;
}

.user-icon {
    width: 140px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
    margin-left: -10px;
    cursor: pointer;
    border: solid 5px rgb(252, 252, 252);
}

.user-icon:hover {
    transform: scale(1.02);
}

input[type="radio"]:checked+label>img {
    border: solid 5px rgb(210, 178, 98);
    border-radius: 100%;
}

.icon-selection {
    position: relative;
    left: 25px;
}

.fixed {
    position: fixed;
    background-color: rgb(252, 252, 252);
    z-index: 2;
    top: -80vh;
    left: 50vw;
    transition: 0.3s;

}

.user-creation-preview {
    margin-top: 20px;
    border-top: 5px solid rgb(210, 178, 98);
    border-bottom: 3px solid rgb(210, 178, 98);
    background-color: rgb(20, 20, 20);
    color: rgb(210, 178, 98);

}

.user-creation-preview-title {
    margin-bottom: 22px;
    font-size: 26px;
    position: relative;
    right: 40px;
}

.user-creation-preview-username {
    font-style: italic;
    font-size: 24px;
    margin-top: -35px;
    margin-left: -10px;
}

.user-creation-preview-fullname {
    font-size: 20px;
    margin-top: 10px;
    color: rgb(252, 252, 252);
    font-style: italic;
}

.user-creation-preview img {
    margin-left: 50px;
    margin-right: 10px;
    margin-top: -50px;
    margin-bottom: 10px;
    border: outset 6px rgb(210, 178, 98);

}

.user-creation-preview div>p {
    margin-bottom: -10px;
}

#registerEmail {
    margin-left: 80px;
}

.register-form-username-availability {
    margin-left: 15px;
    color: rgb(176, 22, 22);
    font-size: 16px;
}