.drink-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(160, 135, 74);
    padding-top: 15px;
    min-height: 75vh;
}

.drink {
    border: outset 5px rgb(210, 178, 98);
    border-radius: 20px;
    color: rgb(252, 252, 252);
    font-family: 'Cardo', serif;
    font-size: 18px;
    font-weight: 100;
    background-color: rgb(54, 54, 54);
    padding: 10px 15px 5px;
    height: 300px;
    width: 200px;
    margin: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.drink:hover {
    background-color: rgb(20, 20, 20)
}

.drink-img {
    width: 250px;
    height: 300px;
    position: absolute;
    bottom: -150px;
    right: -80px;
    transition: 0.3s;
}

.drink-name {
    width: 90%;
    margin: auto;
    border-bottom: 2px solid rgb(210, 178, 98);
    font-size: 20px;
    padding-bottom: 5px;
}

.drink-type {
    font-size: 14px;
    margin-bottom: 5px;
    color: rgb(210, 178, 98)
}

.drink-bttn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgb(252, 252, 252);
    font-family: 'Cardo', serif;
    font-size: 14px;
    background-color: rgb(54, 54, 54);
    border-radius: 20px;
    padding: 6px 15px;
    cursor: pointer;
    height: fit-content;
    border: outset 4px rgb(210, 178, 98);
    width: 25%;
    text-align: center;
    z-index: 5;
}

.drink-bttn:hover {
    background-color: rgb(210, 178, 98);
}

.drinkcount-user {
    font-size: 14px;
    margin-top: 12px;
    margin-left: 0px;
    width: 50%;
}

.drinkcount-user span {
    font-size: 18px;
    color: rgb(210, 178, 98);
}

.drinkcount-user .no-results-span {
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
}

.drink-recent-activities {
    width: 100vw;
    background-color: rgb(10, 10, 10);
    position: fixed;
    top: 9.5vh;
    z-index: 8;
    display: flex;
    justify-content: space-evenly;
    height: 140px;
    border-bottom: rgb(210, 178, 98) 6px solid;
    box-shadow: 0 1px 0px 1px rgb(20, 20, 20);
}

.recent-drink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(252, 252, 252);
    font-family: 'Cardo', serif;
    font-size: 18px;
    font-weight: 100;
    position: relative;
    overflow: hidden;
}

.recent-drink-details {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.recent-drink-details span {
    font-size: 13px;
    padding-left: 8px;
    font-style: italic;
    color: rgb(210, 178, 98);
}

.recent-drink-header {
    color: rgb(210, 178, 98);
    font-size: 22px;
    margin-bottom: 6px;
    border-bottom: 1px solid rgb(210, 178, 98);
    position: relative;
    z-index: 1;
    background-color: rgb(10, 10, 10);
    min-width: 280px;
}

#RecentDrinkDetails {
    position: relative;
    transition: 0.3s;
    height: 100%;
    margin-left: 10px;
    max-width: 320px;
}

.recent-rink-bttn-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 55px;
}

.recent-drink-bttn {
    color: rgb(252, 252, 252);
    font-family: 'Cardo', serif;
    font-size: 14px;
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    padding: 5px 12px;
    cursor: pointer;
    height: fit-content;
    border: outset 4px rgb(210, 178, 98);
    text-align: center;
    margin-right: 10px;
}

.recent-drink-bttn:hover {
    background-color: rgb(160, 135, 74);
}

.drink-frame-container {
    width: 110px;
}

.drink-img-small-frame {
    width: 100px;
    height: 100px;
    border: outset 4px rgb(210, 178, 98);
    border-radius: 100%;
    background-color: rgb(10, 10, 10);
    position: relative;
    overflow: hidden;
    transition: 0.2s;
    margin: auto;
    top: -10px;
}

.drink-img-small {
    width: 125px;
    height: 125px;
    position: absolute;
    top: 5px;
    right: -13px;
}

.random-img {
    filter: contrast(0%);
}

.drink-filter-container {
    width: 500px;
}

.drink-filter-header {
    color: rgb(210, 178, 98);
    font-family: 'Cardo', serif;
    margin: 1px 0;
    text-align: center;
    width: 100%;
    font-size: 18px;
}

.drink-filter-by-type {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    color: rgb(252, 252, 252);
    font-size: 18px;
    height: fit-content;
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.drink-filter-option {
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    border-radius: 20px;
    padding: 3px 8px;
    text-align: center;
    border: outset 4px rgb(210, 178, 98);
    margin: 2px;
    width: 92px;
}

.drink-filter-option:hover {
    background-color: rgb(20, 20, 20)
}

.drink-filter-option-selected {
    background-color: rgb(160, 135, 74);
}

.drink-filter-option-selected:hover,
.drink-filter-option-all-selected:hover {
    background-color: rgb(210, 178, 98);
}


.drink-filter-option-all-selected {
    background-color: rgb(160, 135, 74);
}

.drink-searchbar-header {
    color: rgb(210, 178, 98);
    font-family: 'Cardo', serif;
    margin: 1px 0;
    width: 100%;
    font-size: 18px;
}

.drink-searchbar-input {
    border-radius: 20px;
    padding: 5px 15px;
    font-family: 'Cardo', serif;
    font-size: 18px;
    margin-top: 5px;
    width: 120%;
    border: 3px outset rgb(210, 178, 98);
}

.drink-searchbar-input:focus {
    outline: none;

}