.userprofile-view {
    position: relative;
    background-color: rgb(160, 135, 74);
}

#userprofilePreview {
    position: absolute;
    top: -50vh;
    z-index: 5;
    transition: 0.3s;
    width: 100%;
    padding: 0px 20px 0px 0vw;
    background-color: rgb(160, 135, 74);
}

.userprofile-container {
    padding-top: 20px;
    border-right: solid 10px rgb(252, 252, 252);
    width: 49vw;
    padding-left: 80px;
}

.userprofile-preview {
    display: flex;
    width: 100%;
}

.userprofile-preview img {
    border-color: rgb(210, 178, 98);
}

.userprofile-header {
    font-size: 30px;
    font-family: 'Cardo', serif;
    margin-bottom: 10px;
    text-align: left;

}

.userprofile-header-container {
    border-bottom: 2px solid rgb(160, 135, 74);
    margin-bottom: 10px;
    position: relative;
    right: 40px;
}

.userprofile-header span {
    font-size: 16px;
    font-family: 'Cardo', serif;
    color: rgb(252, 252, 252);
    display: block;
    margin-left: 5px;
}

.userprofile-names {
    color: rgb(252, 252, 252);
    cursor: pointer;
    font-size: 26px;
    position: relative;
    left: 4px;

}

.userprofile-names:hover,
.userprofile-username:hover {
    transform: scale(1.05);
}

.userprofile-username {
    position: relative;
    right: 14px;
    cursor: pointer;
    font-size: 32px;
    position: relative;
    color: rgb(20, 20, 20);
}

.userprofile-edit-field {
    font-size: 16px;
    font-family: 'Cardo', serif;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    width: 120px;
}

.userprofile-edit-label {
    font-size: 16px;
    display: block;
    color: rgb(252, 252, 252);
    margin-left: 10px;
}

.userprofile-edit-names-ok-bttn {
    position: relative;
    top: 10px;
    left: 8px;
    border: outset rgb(210, 178, 98) 3px;
    padding: 10px;
    border-radius: 100%;
    background-color: rgb(20, 20, 20);
    color: rgb(252, 252, 252);
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    font-size: 12px;
}

.userprofile-edit-names-cancel-bttn {
    position: relative;
    top: 10px;
    left: 15px;
    border: outset rgb(210, 178, 98) 3px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(20, 20, 20);
    color: rgb(252, 252, 252);
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    font-size: 12px;
}

.userprofile-edit-names-cancel-bttn:hover {
    background-color: rgb(107, 14, 14);
}

.userprofile-edit-icon {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
    margin-left: -10px;
    cursor: pointer;
    border: outset 10px rgb(210, 178, 98);
}

.userprofile-edit-icon:hover {
    transform: scale(1.02);
}

.userprofile-flex {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.userprofile-flex fieldset {
    padding: 5px 0;
}

.userprofile-edit-names-ok-bttn:hover {
    background-color: rgb(210, 178, 98);
}

.userprofile-edit-form-container {
    position: absolute;
    bottom: -24vh;
    left: 100vw;
    transition: 0.3s;
    z-index: 1;
    padding-left: 50px;
}

#userprofileEditPicForm {
    background-color: rgb(252, 252, 252);
}

.test {
    background-color: rgb(252, 252, 252);
    min-height: 100vh;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
    width: 100vw;
}

/* .userprofile-edit-form form {
    left: 100vw;
    transition: 0.3s;
    padding-left: 50px;
    width: 100vw;
    z-index: 1;
} */

.userprofile-unavailble {
    margin-left: 20px;
    font-size: 16px;
    color: rgb(176, 22, 22);
}

.userprofile-edit-pic-header {
    font-size: 18px;
}

.userprofile-edit-bttn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.userprofile-edit-bttn-container .userprofile-edit-names-ok-bttn,
.userprofile-edit-bttn-container .userprofile-edit-names-cancel-bttn {
    border-radius: 20px;
    width: 50px;
    text-align: center;
    position: static;
    margin: 10px;
}

.userprofile-update-bttn {
    border: outset rgb(210, 178, 98) 3px;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: rgb(20, 20, 20);
    color: rgb(252, 252, 252);
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    font-size: 18px;
    margin: 5px 5px 0 0;
}

.cancel:hover {
    background-color: rgb(107, 14, 14);
}

.ok:hover {
    background-color: rgb(210, 178, 98);
}

.userprofile-update-container {
    display: flex;
}

.user-profile-drink-preference-container {
    background-color: rgb(54, 54, 54);
    padding: 20px;
    width: 100%;
}

.drink-preference-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.drink-preference {
    font-size: 20px;
}

.drink-preference-header {
    font-size: 24px;
    border-bottom: 2px solid rgb(160, 135, 74);
    color: rgb(252, 252, 252);
    margin-bottom: 5px;
}

.drink-preference-subheader-n {
    padding: 50px 0 0px;
    position: relative;
    width: 250px;
    color: rgb(252, 252, 252);
}

.drink-preference-subheader-p {
    padding: 50px 0 0px;
    position: relative;
    width: 250px;
    color: rgb(210, 178, 98);
}

.drink-preference-subheader-na {
    padding: 0px 0 50px;
    position: relative;
    width: 250px;
    color: rgb(176, 22, 22);
}

.drink-preference-subheader-n span,
.drink-preference-subheader-na span,
.drink-preference-subheader-p span {
    position: absolute;
    display: block;
    font-size: 16px;
    margin-top: 2px;
    color: rgb(252, 252, 252);
    height: 50px;
}

.drink-preference-dropbox {
    position: relative;
    right: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 150px;
    width: 250px;
    max-width: 400px;
    height: 240px;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    border: 5px outset rgb(54, 54, 54);
    border-radius: 10px;
    padding: 10px;
    margin: 5px 4px;
}

.drink-preference-item {
    padding: 1px;
    border: 3px outset rgb(210, 178, 98);
    border-radius: 20px;
    text-align: center;
    background-color: rgb(54, 54, 54);
    color: rgb(252, 252, 252);
    margin: 2px;
    width: 80px;
    font-size: 16px;
}

.preferred .drink-preference-item {
    background-color: rgb(160, 135, 74);
    color: rgb(20, 20, 20);
}

.never-again .drink-preference-item {
    background-color: rgb(107, 14, 14);
    color: rgb(252, 252, 252);
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.summary-header {
    display: flex;
    justify-content: space-around;
    padding-top: 3vh;
}

.summary-header-user-details {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.summary-header-user-details img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 12px outset rgb(210, 178, 98);
}

.summay-username-fullname {
    position: absolute;
    bottom: 36px;
    text-align: center;
    left: 52px;
    font-size: 24px;
    color: rgb(54, 54, 54);
    background-color: rgba(210, 178, 98, 0.8);
    padding: 2px 5px;
    border-radius: 20px;
    width: 210px;
    border: outset 3px rgb(54, 54, 54);
}

.summary-header-username {
    font-size: 30px;
    color: rgb(54, 54, 54);
    font-weight: bold;
}

.summary-header-user-fullname {
    font-size: 22px;
    color: rgb(252, 252, 252);
    font-weight: bold;
}

.summary-recent-drink-container {
    width: 420px;
    height: 260px;
    background-color: rgb(54, 54, 54);
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    border: 3px outset rgb(252, 252, 252);

}

.summary-recent-drink-title {
    font-size: 40px;
    color: rgb(210, 178, 98);
    border-bottom: solid 2px rgb(210, 178, 98);
    margin-bottom: 15px;
}

.summary-recent-drink-title span {
    font-size: 20px;
    font-style: italic;
    color: rgb(160, 135, 74);
    display: block;
}

.summary-recent-drink-details {
    display: flex;
    justify-content: flex-start;
}

.summary-recent-drink-details img {
    margin-right: -110px;
    margin-left: -100px;
    width: 250px;

}

.summary-recent-drink-name {
    font-size: 28px;
    padding-left: 60px;
    color: rgb(252, 252, 252);
}

.summary-recent-drink-type {
    font-size: 24px;
    font-style: italic;
    color: rgb(160, 135, 74);
    padding-left: 60px;
}

.summary-drink-details {
    width: 225px;
    border: outset rgb(54, 54, 54) 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
}

.pie-container {
    width: 100%;
    margin: auto;
    padding: 10px;
    position: relative;
}

.pie-text {
    position: absolute;
    top: 38%;
    left: 38%;
    font-size: 2.2vw;
}

.pie-text-100 {
    position: absolute;
    top: 38%;
    left: 32%;
    font-size: 2.2vw;
}

.drink-summary-title {
    margin-top: 4vh;
    font-size: 30px;
    color: rgb(252, 252, 252);
    padding-top: 10px;
    padding-left: 20px;
    background-color: rgb(54, 54, 54);
}

.drink-summary-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    background-color: rgb(54, 54, 54);
}

.summary-add-friend {
    position: absolute;
    bottom: 2px;
    right: 96px;
}

.summary-add-friend-bttn {
    color: rgb(252, 252, 252);
    background-color: rgb(20, 20, 20);
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    border: 2px outset rgb(210, 178, 98);
    padding: 2px 20px;
}

.summary-add-friend-bttn:hover {
    background-color: rgb(210, 178, 98);
}