.userprofile-view {
    /* padding: 20px; */
    position: relative;
}

#userprofilePreview {
    position: fixed;
    top: -50vh;
    z-index: 5;
    transition: 0.3s;
    border-bottom: solid 2px rgb(160, 135, 74);
    width: 100%;
    padding: 15px 20px 15px 10vw;
    background-color: rgb(252, 252, 252);
    /* overflow-y: scroll; */
}

.userprofile-preview img {
    border-color: rgb(160, 135, 74);
}

.userprofile-header {
    font-size: 22px;
    font-family: 'Cardo', serif;
    margin-bottom: 10px;
    width: 20vw;
    text-align: left;
}

.userprofile-header-container {
    border-bottom: 2px solid rgb(160, 135, 74);
    margin-bottom: 10px;
    position: relative;
    right: 40px;
}

.userprofile-header span {
    font-size: 16px;
    font-family: 'Cardo', serif;
    color: rgb(160, 135, 74);
    display: block;
}

.userprofile-names {
    padding: 5px 15px;
    cursor: pointer;
    font-size: 22px;
    position: relative;
}

.userprofile-names:hover,
.userprofile-username:hover {
    transform: scale(1.05);
}

.userprofile-username {
    position: relative;
    right: 12px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 26px;
    position: relative;
    color: rgb(160, 135, 74);
}

.userprofile-edit-field {
    font-size: 16px;
    font-family: 'Cardo', serif;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

.userprofile-edit-label {
    font-size: 16px;
    display: block;
    color: rgb(160, 135, 74);
    margin-left: 10px;
}

.userprofile-edit-names-ok-bttn {
    position: relative;
    top: 10px;
    left: 8px;
    border: outset rgb(160, 135, 74) 3px;
    padding: 10px;
    border-radius: 100%;
    background-color: rgb(20, 20, 20);
    color: rgb(252, 252, 252);
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    font-size: 12px;
}

.userprofile-edit-names-cancel-bttn {
    position: relative;
    top: 10px;
    left: 15px;
    border: outset rgb(160, 135, 74) 3px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(20, 20, 20);
    color: rgb(252, 252, 252);
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    font-size: 12px;
}

.userprofile-edit-names-cancel-bttn:hover {
    background-color: rgb(107, 14, 14);
}

.userprofile-edit-icon {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
    margin-left: -10px;
    cursor: pointer;
    border: solid 5px rgb(252, 252, 252);
}

.userprofile-edit-icon:hover {
    transform: scale(1.02);
}

.userprofile-flex {
    display: flex;
    align-items: center;
}

.userprofile-flex fieldset {
    padding: 5px 0;
}

.userprofile-edit-names-ok-bttn:hover {
    background-color: rgb(210, 178, 98);
}

.userprofile-edit-form {
    /* margin-top: 32vh; */
    position: relative;
}

.userprofile-edit-form form {
    position: absolute;
    left: 100vw;
    transition: 0.3s;
    padding-left: 50px;
}

.userprofile-unavailble {
    margin-left: 20px;
    font-size: 16px;
    color: rgb(176, 22, 22);
}

.userprofile-edit-pic-header {
    font-size: 18px;
}

.userprofile-edit-bttn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.userprofile-edit-bttn-container .userprofile-edit-names-ok-bttn,
.userprofile-edit-bttn-container .userprofile-edit-names-cancel-bttn {
    border-radius: 20px;
    width: 50px;
    text-align: center;
    position: static;
    margin: 10px;
}

.userprofile-update-bttn {
    border: outset rgb(160, 135, 74) 3px;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: rgb(20, 20, 20);
    color: rgb(252, 252, 252);
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    font-size: 18px;
    margin: 5px;
}

.cancel:hover {
    background-color: rgb(107, 14, 14);
}

.ok:hover {
    background-color: rgb(210, 178, 98);
}

.userprofile-update-container {
    display: flex;
}

.drink-preference {
    font-size: 18px;
}

.drink-preference-header {
    font-size: 22px;
    border-bottom: 2px solid rgb(160, 135, 74);
    color: rgb(160, 135, 74);
    margin-bottom: 5px;
}

.drink-preference-subheader-n {
    padding: 5px 0 0px;
    border-bottom: solid rgb(20, 20, 20) 1px;
    width: 190px;
}

.drink-preference-subheader-p {
    padding: 5px 0 0px;
    border-bottom: solid rgb(20, 20, 20) 1px;
    width: 190px;
    color: rgb(160, 135, 74);
}

.drink-preference-subheader-na {
    padding: 5px 0 0px;
    border-bottom: solid rgb(20, 20, 20) 1px;
    width: 190px;
    color: rgb(176, 22, 22);
}

.drink-preference-subheader-n span,
.drink-preference-subheader-na span,
.drink-preference-subheader-p span {
    display: block;
    font-size: 15px;
    margin-top: 2px;
    color: rgb(54, 54, 54);
    height: 70px;
}

.drink-preference-dropbox {
    position: relative;
    right: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 150px;
    width: 190px;
    max-width: 400px;
    height: 220px;
    border-radius: 5px;
    background-color: rgba(20, 20, 20, 0.2);
    padding: 10px;
    margin: 5px 1px;
}

.drink-preference-item {
    padding: 1px;
    border: 3px outset rgb(210, 178, 98);
    border-radius: 20px;
    text-align: center;
    background-color: rgb(54, 54, 54);
    color: rgb(252, 252, 252);
    margin: 2px;
    width: 80px;
    font-size: 16px;
}

.preferred .drink-preference-item {
    background-color: rgb(160, 135, 74);
    color: rgb(20, 20, 20);
}

.never-again .drink-preference-item {
    background-color: rgb(107, 14, 14);
    color: rgb(252, 252, 252);
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.summary-header {
    display: flex;
    justify-content: space-around;
    padding-top: 3vh;
}

.summary-header-user-details {
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding-top: 50px;
}

.summary-header-user-details img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 12px outset rgb(210, 178, 98);
}

.summay-username-fullname {
    position: absolute;
    top: 244px;
    text-align: center;
    left: 52px;
    font-size: 24px;
    color: rgb(54, 54, 54);
    background-color: rgba(210, 178, 98, 0.5);
    padding: 2px 5px;
    border-radius: 20px;
    width: 210px;
}

.summary-header-username {
    font-size: 30px;
    color: rgb(54, 54, 54);
    font-weight: bold;
}

.summary-header-user-fullname {
    font-size: 22px;
    color: rgb(252, 252, 252);
    font-weight: bold;
}

.summary-recent-drink-container {
    width: 300px;

}

.summary-recent-drink-title {
    font-size: 40px;
    color: rgb(210, 178, 98);
    border-bottom: solid 2px rgb(210, 178, 98);
    margin-bottom: 15px;
}

.summary-recent-drink-title span {
    font-size: 20px;
    font-style: italic;
    color: rgb(160, 135, 74);
    display: block;
}

.summary-recent-drink-details {
    display: flex;
    justify-content: flex-start;
}

.summary-recent-drink-details img {
    margin-right: -100px;
    margin-left: -150px;
    width: 300px
}

.summary-recent-drink-name {
    font-size: 30px;
    margin-top: 20px;
    padding-left: 55px;
}

.summary-recent-drink-type {
    font-size: 24px;
    font-style: italic;
    color: rgb(160, 135, 74);
    padding-left: 55px;
}

.summary-drink-details {
    width: 225px;
    border: solid rgb(54, 54, 54) 1px;
    padding: 10px;
    margin-bottom: 20px;
}

.pie-container {
    width: 100%;
    margin: auto;
    padding: 10px;
    position: relative;
}

.pie-text {
    position: absolute;
    top: 38%;
    left: 38%;
    font-size: 2.2vw;
}

.drink-summary-title {
    margin-top: 8vh;
    font-size: 30px;
    border-bottom: solid 4px rgb(54, 54, 54);
    padding-left: 20px;
}

.drink-summary-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}