.create-post-view {
    position: fixed;
    top: 24vh;
    width: 100%;
    left: -100vw;
    transition: 0.3s;
}


.create-post-form {
    font-family: 'Cardo', serif;
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: space-between;
}

.create-post-title {
    background-color: rgb(54, 54, 54);
    width: 100%;
    max-width: 40vw;
    overflow: hidden;
    z-index: 1;
}

.create-post-section {
    display: flex;
}

.create-post-drink {
    width: 100%;
    min-height: 75vh;
    padding: 2.5vh 0 0 1vw;
    position: relative;
    right: 0vw;
    overflow: hidden;
}

.create-post-message,
.create-post-image {
    width: 00%;
    min-height: 75vh;
    padding: 2.5vh 0 0 1vw;
    position: relative;
    left: 50vw;
    right: 0vw;
    transition: 0.3s;
    overflow: hidden;
}

.create-post-form label {
    display: block;
    color: rgb(54, 54, 54);
    font-size: 18px;
}

.create-post-form label span {
    margin-left: 10px;
    font-size: 16px;
    color: rgb(160, 135, 74);
}

.create-post-number {
    font-size: 25px;
    font-weight: bold;
    border-radius: 100%;
    border: 4px outset rgb(210, 178, 98);
    width: fit-content;
    color: rgb(54, 54, 54);
    padding: 1px 12px;
    margin: 20px;
    position: relative;
    bottom: 25px;
}

.create-post-header {
    color: rgb(252, 252, 252);
    font-size: 54px;
    margin-top: 5vh;
    margin-left: 5vw;
}

.create-post-searchbar {
    border-radius: 20px;
    border: 3px outset rgb(210, 178, 98);
    padding: 7px 12px;
    background-color: rgb(54, 54, 54);
    color: rgb(252, 252, 252);
    font-size: 14px;
    margin: 2px 0 0 -5px;
    width: 250px;
}

.create-post-searchbar:focus {
    outline: none;
}

.create-post-result {
    border-radius: 20px;
    color: rgb(54, 54, 54);
    font-family: 'Cardo', serif;
    font-size: 18px;
    font-weight: 100;
    padding: 10px 15px 5px;
    min-width: fit-content;
    margin: 10px 0px 10px 0;
    position: relative;
    display: flex;
    justify-content: start;
}

.create-post-result:hover {
    transform: scale(1.02);
}

.create-post-result-type {
    font-size: 16px;
    margin-left: 10px;
    color: rgb(160, 135, 74);
}

.create-post-result-name {
    font-size: 20px;
    position: relative;
}

.create-post-result-name img {
    width: 40px;
    position: absolute;
    transform: rotate(90deg);
    top: -18px;
    margin-left: -75px;
}

.create-post-result-largenumber {
    margin-left: -50px;
    margin-right: 10px;
    border-radius: 100%;
    border: outset rgb(210, 178, 98) 3px;
    padding: 1px 6px;
}

.create-post-title-drink {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    left: 30vw;
    transition: 0.3s;
    font-size: 20px;
    color: rgb(220, 220, 220);
    width: 50%;
    margin: 6px auto;
}

.create-post-title-drink span {
    font-size: 16px;
    margin-left: 8px;
    color: rgb(210, 178, 98);
}

.create-post-title-section-number {
    transition: 0.3s;
    margin-right: 10px;
    border-radius: 100%;
    border: outset rgb(20, 20, 20) 4px;
    padding: 1px 10px;
    background-color: rgb(210, 178, 98);
    font-weight: bold;
    color: rgb(20, 20, 20);
}

.create-post-confirm-drink-selection {
    position: relative;
    background-color: rgb(54, 54, 54);
    border-radius: 20px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: rgb(220, 220, 220);
    margin: 0 2vw;
}

.create-post-confirm-drink-selection-header {
    font-size: 24px;
    margin-right: 10px;
    color: rgb(210, 178, 98);
    border-bottom: solid 2px rgb(210, 178, 98);
    margin-bottom: 5px;
}

.create-post-confirm-drink-selection span {
    color: rgb(210, 178, 98);
    margin-left: 8px;
    font-size: 16px;
}

.create-post-confirm-bttn {
    padding: 5px 10px;
    border: 3px solid rgb(54, 54, 54);
    border-radius: 20px;
    margin: 0 15px;
}

.create-post-confirm-bttn:hover {
    transition: 0.4s;
    border: 3px outset rgb(220, 220, 220);
    background-color: rgb(252, 252, 252);
    color: rgb(54, 54, 54);
    font-weight: bold;
}

.create-post-textarea {
    resize: none;
    padding: 15px 25px;
    height: 500px;
    width: 400px;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 5px;
    font-family: 'Cardo', serif;
    font-size: 16px;
}

.create-post-message-confirmation-bttn {
    border: 3px outset rgb(210, 178, 98);
    background-color: rgb(54, 54, 54);
    color: rgb(252, 252, 252);
    width: fit-content;
    padding: 6px 15px;
    border-radius: 15px;
    font-size: 16px;
}

.create-post-message-confirmation-bttn:hover {
    background-color: rgb(20, 20, 20);

}

.create-post-message-warning {
    color: rgb(176, 22, 22);
}

.create-post-image-preview {
    margin-top: 4vh;
}

.create-post-select-image {
    color: rgb(54, 54, 54);
}

input::file-selector-button {
    color: rgb(252, 252, 252);
    background-color: rgb(54, 54, 54);
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-right: 10px;
}

input::file-selector-button:hover {
    background-color: rgb(20, 20, 20);
}

.create-post-image-preview img {
    border-radius: 10px;
    width: 550px;
    margin-bottom: 20px;
}

.create-post-title-bttns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
}

.create-post-title-confirm {
    margin-bottom: 15px;
    border: 3px outset rgb(210, 178, 98);
    background-color: rgb(54, 54, 54);
    color: rgb(252, 252, 252);
    width: fit-content;
    padding: 6px 15px;
    border-radius: 15px;
    font-size: 16px;
    transition: 0.3s;
}

.create-post-title-confirm:hover {
    background-color: rgb(210, 178, 98);
}

.create-post-title-cancel {
    margin-bottom: 15px;
    border: 3px outset rgb(210, 178, 98);
    background-color: rgb(54, 54, 54);
    color: rgb(252, 252, 252);
    width: fit-content;
    padding: 6px 15px;
    border-radius: 15px;
    font-size: 16px;
    transition: 0.3s;
}

.create-post-title-cancel:hover {
    background-color: rgb(107, 14, 14);
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.post {
    border: outset 6px rgb(20, 20, 20);
    margin: 10px;
    font-family: 'Cardo', serif;
    position: relative;
    overflow: hidden;
    height: 350px;
    width: 450px;
    background-color: rgb(252, 252, 252);
    border-radius: 20px;
}

.post:hover {
    border-color: rgb(210, 178, 98);
}

.post-drink-img img {
    width: 400px;
    position: absolute;
    right: 240px;
    top: 70px;
}

.post-header {
    display: flex;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(1px);
    font-size: 20px;
    justify-content: center;
    padding: 8px 0;
    background-color: rgb(54, 54, 54);
    min-height: 76px;
    color: rgb(210, 178, 98);

}

.post-username {
    color: rgb(210, 178, 98);
}

.post-fullname {
    font-size: 18px;
    position: relative;
    left: 4px;
    color: rgb(252, 252, 252);
}

.post-header img {
    border-radius: 100%;
    width: 70px;
    border: outset 3px rgb(210, 178, 98);
}

.post-header img:hover {
    transform: scale(1.02);
}

.post-message {
    font-size: 18px;
    margin: auto;
    padding: 25px 20px 10px;
    height: 150px;
    overflow-y: scroll;
    border: solid 2px rgb(210, 178, 98);
    background-color: rgba(252, 252, 252, 0.8);
    position: relative;
    z-index: 1;
    border-top: none;
    border-left: none;
    border-right: none;
    bottom: 15px;

}

.post-message::-webkit-scrollbar {
    display: none;
}

.post-edit-delete-bttns {
    position: absolute;
    bottom: 5px;
    right: 15px;
    color: rgb(252, 252, 252);
    font-size: 16px;
    display: flex;
}

.post-edit {
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    border-radius: 20px;
    padding: 2px 8px;
    text-align: center;
    border: outset 3px rgb(210, 178, 98);
    margin: 2px;
    width: 50px;
    color: rgb(252, 252, 252);
}

.post-edit:hover {
    background-color: rgb(20, 20, 20);
}

.post-delete {
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    border-radius: 20px;
    padding: 2px 8px;
    text-align: center;
    border: outset 3px rgb(210, 178, 98);
    margin: 2px;
    width: 50px;
    color: rgb(252, 252, 252);
}

.post-delete:hover {
    background-color: rgb(107, 14, 14);
}

.post-drink-info {
    position: relative;
    z-index: 2;
    background-color: rgba(54, 54, 54, 0.9);
    margin: auto;
    padding: 5px 20px;
    border: solid rgb(210, 178, 98) 2px;
    color: rgb(252, 252, 252);
    font-size: 18px;
    border-left: none;
    border-right: none;
}

.post-drink-info span {
    color: rgb(210, 178, 98);
    font-size: 14px;
    margin-left: 8px;
}

.post-delete-confirmation {
    width: 50%;
    margin: auto;
    position: relative;
    z-index: 1;
    text-align: center;
}

.post-delete-confirmation section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post-delete-confirmation-header {
    font-size: 18px;
    color: rgb(176, 22, 22);
    margin: 10px 0;
}