.create-post-form {
    font-family: 'Cardo', serif;
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: space-evenly;
}

.create-post-title {
    background-color: rgb(54, 54, 54);
    width: 100%;
    min-height: 75vh;
}

.create-post-drink {
    width: 100%;
    min-height: 75vh;
    padding: 1vh 0 0 4vw;
}

.create-post-form label {
    display: block;
    color: rgb(54, 54, 54);
    font-size: 18px;
}

.create-post-form label span {
    margin-left: 10px;
    font-size: 16px;
    color: rgb(160, 135, 74);
}

.create-post-number {
    font-size: 30px;
    font-weight: bold;
    border-radius: 100%;
    border: 4px outset rgb(210, 178, 98);
    width: fit-content;
    color: rgb(54, 54, 54);
    padding: 1px 15px;
    margin-bottom: 30px;
}

.create-post-header {
    color: rgb(252, 252, 252);
    font-size: 54px;
    margin-top: 5vh;
    margin-left: 5vw;
}

.create-post-searchbar {
    border-radius: 20px;
    border: 3px outset rgb(210, 178, 98);
    padding: 7px 12px;
    background-color: rgb(54, 54, 54);
    color: rgb(252, 252, 252);
    font-size: 14px;
    margin: 2px 0 0 -5px;
    width: 250px;
}

.create-post-searchbar:focus {
    outline: none;
}

.create-post-result {
    border-radius: 20px;
    color: rgb(54, 54, 54);
    font-family: 'Cardo', serif;
    font-size: 18px;
    font-weight: 100;
    padding: 10px 15px 5px;
    width: 500px;
    min-width: fit-content;
    margin: 10px 0px 10px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.create-post-result:hover {
    transform: scale(1.02);
}

.create-post-result-type {
    font-size: 16px;
    margin-left: 10px;
    color: rgb(160, 135, 74);
}

.create-post-result-name {
    width: 90%;
    font-size: 20px;
}

.create-post-result-number {
    margin-right: 10px;
    border-radius: 100%;
    border: outset rgb(210, 178, 98) 3px;
    padding: 1px 10px;
}

.create-post-result-largenumber {
    margin-right: 10px;
    border-radius: 100%;
    border: outset rgb(210, 178, 98) 3px;
    padding: 1px 6px;
}